<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aziot.dao.mapper.device.DevDeviceInstructionMapper">

    <select id="selectByDeviceId" resultType="com.aziot.dao.entity.device.DevDeviceInstruction">
        SELECT * FROM dev_device_instruction
        WHERE device_id = #{deviceId}
        ORDER BY sort_order ASC
    </select>

    <select id="selectByDeviceIdAndCode" resultType="com.aziot.dao.entity.device.DevDeviceInstruction">
        SELECT * FROM dev_device_instruction
        WHERE device_id = #{deviceId} AND instruction_code = #{instructionCode}
    </select>

    <select id="selectByDeviceIdAndCodeExcludeId" resultType="com.aziot.dao.entity.device.DevDeviceInstruction">
        SELECT * FROM dev_device_instruction
        WHERE device_id = #{deviceId}
          AND instruction_code = #{instructionCode}
          AND id != #{excludeId}
    </select>

</mapper>
