<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aziot.dao.mapper.system.SysPermissionMapper">

    <select id="selectAllEnabled" resultType="com.aziot.dao.entity.system.SysPermission">
        SELECT * FROM sys_permission
        WHERE status = 1
        ORDER BY sort_order ASC
    </select>

</mapper>
