<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aziot.dao.mapper.system.SysRoleMapper">

    <select id="selectAllOrdered" resultType="com.aziot.dao.entity.system.SysRole">
        SELECT * FROM sys_role
        WHERE is_deleted = 0
        ORDER BY sort_order ASC
    </select>

</mapper>
